.confirm-umpires {
	min-height: 600px;
  
  .card-body {
  	padding: 0;
    max-height: 90vh;
    overflow-y: auto;

    .alert {
      margin: 1rem;
    }

    .options {
      padding: 1rem;
      font-size: 0.8rem;
      margin-right: 0 !important;
    }

    .actions {
      a {
        margin-right: 0.5rem;
        font-size: 1rem;
      }
    }
  }
}