.umpire-evaluations-list, .match-reports, .match-reports-list {
	min-height: 600px;
  max-height: 1200px;
  overflow-y: auto;
  
  .card-body {
  	padding: 0;

    .actions {
      a {
        margin-right: 0.5rem;
        font-size: 1rem;
      }
    }
  }
}