.umpire-evaluations-list, .match-reports, .match-reports-list {
	min-height: 600px;
  max-height: 90vh;
  overflow-y: auto;
  
  .card-body {
  	padding: 0;

    .options {
      padding: 1rem;
      font-size: 0.8rem;
      margin-right: 0 !important;
    }

    .actions {
      a {
        margin-right: 0.5rem;
        font-size: 1rem;
      }
    }
  }
}