.row
	.col-md-8
		.card.winners
			.card-header Winners
			.card-body
				- if @winners.count > 0
					%table.table.table-dark
						%thead
							%tr
								%th Season
								%th Team
						%tbody
							- @winners.each do |w|
								%tr
									%td= w.season.get_display_name
									%td= w.get_club_acroynm
				- else
					.div.empty
						%i{class: "fa fa-frown-o"}
						%h4 Nothing to show here.

	.col-md-4
		= render 'shared/points_table'
		= render 'shared/upcoming_matches'