$nav-background: #121212;
$background:  #343a40;
$primary:     #bb86fc;
$primary-hover: rgba(187,134,252, 0.04);
$secondary:   #03dac6;
$font-color-default: rgba(255,255,255, 0.87);
$font-color-hover: rgba(255,255,255, 0.04);