body {
  width: 100%;
  height: 100vh;
  background-color: $background;
  color: $font-color-default;
  display: flex;
  flex-flow: row nowrap;
}

.container {
  padding: 1rem 0;
}

.card, .card-header {
  background: transparent;
  color: $font-color-default;
  border-color: rgba(255,255,255,0.12);
}