.upcoming-matches {
  margin-top: 1rem;

  .card-body {
  	padding: 0;
  	height: 28vh;
  	overflow-y: auto;
  }
}

.points-table {
	.card-body {
		padding: 0;
		height: 28vh;
  	overflow-y: auto;
	}
}

.carousel-inner {
	border-radius: 5px;

	.image {
		height: 50vh;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
}

.carousel-caption {
	background: rgba(0,0,0,0.7);
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	padding-bottom: 45px;
}

.moms-carousel {
	margin-top: 1rem;
	padding: 0;
	// height: 20vh;

	.image {
		height: 16vh;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	.carousel-caption {
		background: rgba(0,0,0,0.7);
		width: 100%;
		left: 0;
		right: 0;
		bottom: 0;
		padding-bottom: 10px;
		padding-top: 10px;

		h5 {
			font-size: 1.1rem;
		}

		.name {
			font-size: 1rem;
		}
	}
}