.upcoming-matches {
  margin-top: 1rem;

  .card-body {
  	padding: 0;
  	height: 43vh;
  	overflow-y: auto;
  }
}

.points-table {
	.card-body {
		padding: 0;
		height: 43vh;
  	overflow-y: auto;
	}
}

.carousel-inner {
	border-radius: 5px;

	.image {
		height: 500px;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
}

.carousel-caption {
	background: rgba(0,0,0,0.7);
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	padding-bottom: 45px;
}