$duration-fast: 100ms;
$duration-medium: 200ms;
$duration-lazy: 400ms;
$duration-slow: 600ms;
$easing-linear: cubic-bezier(0,0,1,1);
$easing-standard: cubic-bezier(0.4,0,0.2,1);
$easing-decelerate: cubic-bezier(0,0,0.2,1);
$easing-accelerate: cubic-bezier(0.4,0,1,1);