nav {
  width: 245px;
  height: 100vh;
  padding: 1rem 0;
  position: relative;
  background: $nav-background;

  .divider {
    margin: 1rem 0 1rem 0.8rem;
    width: 85%;
    height: 1px;
    background: rgba(255,255,255, 0.5);
  }

  .items {
    display: flex;
    flex-flow: column nowrap;

    a {
      padding: 0.5rem 1.2rem;
      font-size: 0.9rem;
      text-decoration: none;
      color: $font-color-default;
      transition: background $duration-fast $easing-standard;

      &:hover {
        background: $font-color-hover;
        transition: background $duration-fast $easing-standard;
      }

      &.selected {
        color: $primary;
      }

      .fa {
        font-size: 1rem;
        width: 1.5rem;

      }
    }

    .children {
      display: flex;
      flex-flow: column nowrap;

      a {
        padding: 0.5rem 1.2rem 0.5rem 3rem;
      }
    }
  }

  .actions {
    position: absolute;
    bottom: 1rem;
    width: 100%;

    display: flex;
    flex-flow: column nowrap;

    &__items {
      display: none;
      flex-flow: column nowrap;
    }

    a {
      padding: 0.5rem 1.2rem;
      font-size: 0.9rem;
      text-decoration: none;
      color: $font-color-default;
      transition: background $duration-fast $easing-standard;

      &:hover {
        background: $font-color-hover;
        transition: background $duration-fast $easing-standard;
      }

      &.selected {
        color: $primary;
      }

      .fa {
        font-size: 1rem;
        width: 1.5rem;

      }
    }

    .divider {
      margin: 0.4rem 0 0.4rem 0.6rem;
      width: 90%;
      height: 1px;
      background: rgba(255,255,255, 0.5);
    }

    .currentTime {
      border-top: 1px solid rgba(255,255,255, 0.5);
      text-align: center;
      padding-top: 0.5rem;
    }
  }
}

.logo {
  width: 170px;
  margin-left: 25px;
}