.row
	.col-md-8
		.card.coc-violations
			.card-header COC Violations
			.card-body
				- if @cocs.count > 0
					%table.table.table-dark
						%thead
							%tr
								%th Title
								%th.text-center Actions
						%tbody
							- @cocs.each do |c|
								%tr
									%td= c.title
									%td.text-center
										%a{href: "/coc-violations/#{c.id}", "data-toggle" => "tooltip", title: "View", "data-placement" => "bottom"}
											%i{class: "fa fa-info-circle"}
				- else
					.div.empty
						%i{class: "fa fa-frown-o"}
						%h4 Nothing to show here.
	.col-md-4
		= render 'shared/points_table'
		= render 'shared/upcoming_matches'