.row
	.col-md-8
		.card.document
			.card-header COC Violation
			.card-body
				%object{type: 'application/pdf', data: "#{url_for(@cc.pdf)}", width: "100%", height: "100%"}
	.col-md-4
		= render 'shared/points_table'
		= render 'shared/upcoming_matches'